body {
  font-family: sans-serif;
  background-color: #7A95AF;

}

a {
  text-decoration: none;
  font-family: fantasy;
  color: #900C3F;
  font-size: 2rem;
}

label {
  display: block;
}

nav a {
  display: flex;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.linkHolder {
  display: flex;
  margin: 1em;
  justify-content: space-around;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #339CFF;
  border-radius: 5px;
}

.productChild {
max-width: 245;
max-height: 342;
margin: 5px;
}

.homepage {
background-image: url('https://wallpaperaccess.com/full/109332.jpg');
background-repeat: no-repeat;
width: 100vw;
height: 100vh;
background-size: auto;
border-radius: 8px;
}

h1 {
  color: #FFC300;
}
