body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: flex;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.linkHolder {
  display: flex;
  margin: 1em;
  justify-content: space-around;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #339CFF;
  border-radius: 5px;
}

.productChild {
max-width: 245;
max-height: 342;
margin: 5px;
}
